<h3>Order Line Item</h3>
<div>
    <p class="input-group">
        <span class="input-group-addon" style="width: 160px; text-align: left">Product</span>
        <input type="text" class="form-control" ng-model="orderDetail.Product.Description" />
    </p>
    <p class="input-group">
        <span class="input-group-addon" style="width: 160px; text-align: left">Quantity</span>
        <input type="text" class="form-control" ng-model="orderDetail.Quantity" />
    </p>
    <p class="input-group">
        <span class="input-group-addon" style="width: 160px; text-align: left">Unit Price</span>
        <input type="text" class="form-control" ng-model="orderDetail.UnitPrice" />
    </p>
</div>
